<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuntoDeVentaGenerico"
        tools:targetApi="31"> <!-- ✅ correctamente dentro del tag -->

        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.puntodeventagenerico.ui.agregarproducto.AgregarProductoActivity" />
        <activity
            android:name=".ui.vereditarproductos.VerEditarProductosActivity"
            android:exported="false"
            android:label="Ver / Editar Productos" />

        <activity
            android:name=".ui.venta.IniciarVentaActivity"
            android:exported="true"
            android:label="Iniciar venta" />

        <activity
            android:name=".ui.comandas.VerComandasActivity"
            android:exported="false"
            android:label="Comandas"
            android:theme="@style/Theme.PuntoDeVentaGenerico"
            />

        <activity android:name=".ui.historial.HistorialVentasActivity" />
        <activity android:name=".ui.historial.VentasDelDiaActivity" />
        <activity android:name=".ui.historial.EstadisticasDiaActivity" />
        <activity android:name=".ui.vereditarproductos.ListaProductosActivity" />


    </application>

</manifest>